.container {
    position: absolute;
    overflow: visible;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    background: #fff;
}
.regContainer {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}
.regulator {
    margin-bottom: 40px;
}
.colorRound {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
}

.colorRound:not(:last-child) {
    margin-right: 10px;

}

.colorRound .active {
    border: 2px solid black;
}